.attribution {
    margin: 50px auto;
    font-size: 13px;
    text-align: center;
    color: #202020;
  }
  .attribution a {
    cursor: pointer;
    transition: all 0.5s;
    color: #0e8567;
  }
  .attribution a:hover {
    color: #9c9797;
  }
  .attribution a:active {
    color: #075c47;
  }