@media screen and (min-width: 768px) {
  .main-container {
    margin: auto;
    max-width: 650px;
  }
  .header-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;

    &#{__title} {
      width: 100%;
      margin-bottom: 15px;
    }
    &#{__info} {
      width: 70%;
    }
  }

  .grid-container {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "super-card  team-card" "karma-card calc-card";
    .grid-item {
      &:nth-child(1) {
        grid-area: super-card;
      }
      &:nth-child(2) {
        grid-area: team-card;
      }
      &:nth-child(3) {
        grid-area: karma-card;
      }
      &:nth-child(4) {
        grid-area: calc-card;
      }
    }
  }

  .attribution {
    margin: 0;
    position: absolute;
    bottom: 3vh;
    transform: translate(-50%, 0vh);
  }
}
@media screen and (min-width: 1024px) {
  .attribution {
    top: 8vh;
    right: 5vw;
    transform: none;
  }
}
@media screen and (min-width: 1440px) {
  .main-container {
    max-width: 1050px;
  }
  .header-page {
    margin-bottom: 50px;
    &#{__title} {
      font-size: 3rem;
    }
    &#{__info} {
      width: 50%;
    }
  }
  .grid-container {
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "super-card  team-card  calc-card" "super-card karma-card calc-card";
  }
  .grid-item {
    height: 245px;

    .grid-item__info {
      font-size: 14px;
    }
  }
}
