.main-container {
  width: 85%;
  max-width: 360px;
  margin: 100px auto 25px;
}

/* Header styles */
.header-page {
  color: $title-color;
  margin-bottom: 60px;

  &#{__title} {
    font: {
      size: 2.5rem;
      weight: 200;
    }
    line-height: 40px;
    margin-bottom: 25px;
    text-align: center;
  }
  &#{__title--bold-title} {
    display: block;
    font-weight: 700;
  }
  &#{__info} {
    font-size: 1.5rem;
    text-align: center;
    line-height: 25px;
    color: $content-color;
  }
}

/* Grid container styles*/
.grid-container {
  width: 100%;
  display: grid;
  gap: 30px;

  .grid-item {
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.185);
    background-color: #fff;
    padding: 20px 30px 25px 30px;
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
    transition: all 0.5s;

    &#{__title} {
      font: {
        size: 2rem;
        weight: 700;
      }
      color: $title-color;
      margin-bottom: 7px;
    }
    &#{__info} {
      color: $content-color;
      font-size: 1.4rem;
      line-height: 23px;
      margin-bottom: 20px;
    }
    &#{__icon} {
      margin-top: 20px;
      width: 22%;
      align-self: flex-end;
    }
    &:hover {
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      transform: scale(1.01);
    }
    &:active {
      background-color: #e7e9e9;
    }
    &:nth-child(1) {
      border-top: 5px solid $supervisor-section-border-color;
    }
    &:nth-child(2) {
      border-top: 5px solid $team-buider-section-border-color;
    }
    &:nth-child(3) {
      border-top: 5px solid $karma-section-border-color;
    }
    &:nth-child(4) {
      border-top: 5px solid $calculator-section-border-color;
    }
  }
}
