// Project variables

// General variables
$font-family: 'Poppins', sans-serif;
$body-bg-color:  hsl(0, 0%, 98%);

// Text colors
$title-color: hsl(234, 12%, 34%);
$content-color:  hsl(229, 6%, 66%);

// Sections border colors
$team-buider-section-border-color: hsl(0, 78%, 62%);
$supervisor-section-border-color: hsl(180, 62%, 55%);
$karma-section-border-color: hsl(34, 97%, 64%);
$calculator-section-border-color: hsl(212, 86%, 64%);