/* Coded by: Jose Angel Rey
Github: https://github.com/Jose-Angel-Rey
Gmail: dev.joseangel.rey@gmail.com */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution {
  margin: 50px auto;
  font-size: 13px;
  text-align: center;
  color: #202020;
}
.attribution a {
  cursor: pointer;
  transition: all 0.5s;
  color: #0e8567;
}
.attribution a:hover {
  color: #7c7c7c;
}
.attribution a:active {
  color: #0c6e55;
}
body {
  background-color: #FAFAFA;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 85%;
}
.header-page {
  text-align: center;
  color: #4c4e61;
  padding: 80px 0 70px 0;
}
.header-page__title {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 200;
}
.header-page__title--bold-title {
  display: block;
  font-weight: 700;
}
.grid-item__info,
.header-page__info {
  font-size: 15px;
  color: #a3a5ad;
  line-height: 25px;
}
.grid-container {
  display: grid;
  gap: 20px;
}
.grid-item {
  border-radius: 10px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.185);
  background-color: #fff;
  padding: 30px 30px 25px 30px;
  display: flex;
  flex-flow: column nowrap;
  cursor: pointer;
  transition: all 0.5s;
}
.grid-item:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}
.grid-item:hover .grid-item__icon {
  animation: none;
}
.grid-item:active {
  background-color: #e7e9e9;
}
.grid-item:nth-child(1) {
  border-top: 5px solid #45d3d3;
}
.grid-item:nth-child(2) {
  border-top: 5px solid #e95252;
}
.grid-item:nth-child(3) {
  border-top: 5px solid #fcaf4a;
}
.grid-item:nth-child(4) {
  border-top: 5px solid #549df2;
}
.grid-item__title {
  font-size: 20px;
  font-weight: 700;
  color: #4c4e61;
  margin-bottom: 5px;
}
.grid-item__info {
  margin-bottom: 30px;
}
.grid-item__icon {
  width: 22.5%;
  align-self: flex-end;
}
@media screen and (min-width: 425px) {
  .header-page {
    max-width: 400px;
    margin: auto;
  }
  .grid-container {
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .grid-item {
    max-width: 350px;
  }
}
@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  .header-page__title {
    font-size: 30px;
  }
  .grid-container {
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "super-card  team-card" "karma-card calc-card";
  }
  .grid-item {
    height: 250px;
    width: 280px;
  }
  .grid-item:nth-child(1) {
    grid-area: super-card;
  }
  .grid-item:nth-child(2) {
    grid-area: team-card;
  }
  .grid-item:nth-child(3) {
    grid-area: karma-card;
  }
  .grid-item:nth-child(4) {
    grid-area: calc-card;
  }
  .attribution {
    margin: 20px auto;
  }
}
@media screen and (min-width: 1024px) {
  .header-page {
    max-width: 500px;
    padding: 45px 0;
  }
  .header-page__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .grid-container {
    gap: 30px;
    max-width: 735px;
  }
  .grid-item {
    height: 250px;
    width: 350px;
  }
}
@media screen and (min-width: 1440px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "super-card  team-card  calc-card" "super-card karma-card calc-card";
  }
  .grid-item {
    height: 245px;
  }
  .header-page__title {
    font-size: 37px;
  }
  .grid-item__info {
    font-size: 14px;
  }
}
